<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Libreria Web</h1>
    <a th:href="@{/libro/listar}" >Ir a Libros</a>
    <br/>
    <a th:href="@{/prestamo/listar}" >Ir a Prestamos</a>
    <br/>
    <a th:href="@{/cliente/listar}" >Ir a Clientes</a>
    <br/>
    <a th:href="@{/editorial/listar}" >Ir a Editoriales</a>
    <br/>
    <a th:href="@{/autor/listar}" >Ir a Autores</a>
    <br/>
    <a th:href="@{/usuario/listar}" >Ir a Usuarios</a>
    <br/>
    <a th:href="@{/usuario/registro}" >Registro</a>
    
</body>
</html>